.hola {
    position: relative;
    overflow: hidden;
  }
.hola::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black); /* Cambia 'black' a cualquier color deseado */
    pointer-events: none; /* Para asegurarte de que no interfiera con los eventos de la imagen */
  }