/* Header.module.css */

/* General */
.myHeader {
  display: flex;            /* Activamos Flexbox */
  justify-content: center;   /* Centramos horizontalmente */
  align-items: center;       /* Centramos verticalmente */
  flex-direction: column;    /* Colocamos los elementos en columna (si es necesario) */
  padding: 40px;
  height: 150px;            /* Ajustamos la altura según el diseño */
  
  background-color: rgba(128, 0, 128, 0.048); /* Púrpura con 20% de opacidad */
  
}

.container{
  width: 100%;
  display: flex;            /* Activamos Flexbox */
  align-items: center;       /* Centramos verticalmente */
  flex-direction: column;    /* Colocamos los elementos en columna (si es necesario) */
  padding: 40px;
  border-bottom: 2px solid black; /* Línea negra en la parte inferior */
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 40px; /* Coloca el logo en la parte inferior */

}

.principalNav {
  display: flex;
  gap: 20px; /* Espacio entre los elementos del menú */
}

.myLink{
  margin-top: 20px;
}

.myLink:hover {
  border-top: 4px solid rgba(100, 0, 50, 0.61);
}

/* Logo */
.myheader div:first-child {
  font-size: 24px;
  font-weight: bold;
  color: white;
}


/* Responsivo para móviles */
@media (max-width: 768px) {
  .principalNav {
    display: none; /* Oculta el menú en móviles */
  }

}
